<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page" [@moveInLeft]="state">
    {{name.auth}}
    <h2>Hey {{ name.auth.displayName }}! welcome to your draft</h2>
    <div class="row">
      <div class="col-md-7">
        <app-player></app-player>
      </div>
      <div class="col-md-5">
        <app-player-list></app-player-list>
      </div>
    </div>
  </div>
</div>



<!--<div style="text-align: center">-->
  <!--<h2 class="jumbotron">Draft Lobby</h2>-->
<!--</div>-->
<!--<div class="row">-->
  <!--<div class="col-md-7">-->
    <!--<app-player></app-player>-->
  <!--</div>-->
  <!--<div class="col-md-5">-->
    <!--<app-player-list></app-player-list>-->
  <!--</div>-->
<!--</div>-->
