<div class="form-container" id="toolbar">
  <header>
    <button (click)="logout()" class="basic-btn">Logout {{ userName }}</button>
  </header>
  <form #existingTeamForm="ngForm" class="" >
    <div id="page">
      <h2 *ngIf="teams.length <= 0 && !teamService.selectedTeam.owner" class="center">Welcome to your draft. Please create a team. </h2>
      <h2 *ngIf="teams.length > 0 && !teamService.selectedTeam.owner" class="center">Welcome to your draft. Please choose a team. </h2>
      <h2 *ngIf="teamService.selectedTeam.owner" class="center">Drafting for {{teamService.selectedTeam.name}} </h2>
    </div>
    <div class="form-group row" *ngIf="teams.length > 0 && !teamService.selectedTeam.owner">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <select class=""  id="selectedTeam" [(ngModel)]="usersExistingTeam" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let team of teams" [ngValue]="team" [disabled]="team.disabled">{{team.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" (click) = "existingTeam()">
          <span class="fa fa-floppy-o"></span> Draft Existing Team</button>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="form-group row" *ngIf="teams.length > 0 && !teamService.selectedTeam.owner">
      <div class="col-md-4"></div>
      <div class="col-md-4 center">
        <h4>OR</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
  <form #newTeamForm="ngForm" *ngIf="!teamService.selectedTeam.owner">
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="usersNewTeam.name" placeholder="Add New Team" required/>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" [disabled]="!usersNewTeam.name" (click) = "newTeam()" >
          <span class="fa fa-floppy-o"></span> Draft New Team</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </form>
  <div class="" *ngIf="teamService.selectedTeam.owner">
    <app-player [selectedTeam]="teamService.selectedTeam" ></app-player>
  </div>
</div>















