<div class="form-container" id="toolbar">
  <header>
    <button (click)="logout()" class="basic-btn">Logout {{ userName }}</button>
  </header>
  <form #existingTeamForm="ngForm" class="" (ngSubmit) = "existingTeam()" >
    <div id="page">
      <h2 class="center">Welcome to your draft. Please choose a team. </h2>
    </div>
    <div class="form-group row" *ngIf="teams.length > 0 && !teamService.selectedTeam.owner">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <select class=""  id="selectedTeam" [(ngModel)]="usersExistingTeam" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let team of teams" [ngValue]="team" [disabled]="team.disabled">{{team.name}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary">
          <span class="fa fa-floppy-o"></span> Draft Existing Team</button>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="form-group row" *ngIf="teams.length > 0 && !teamService.selectedTeam.owner">
      <div class="col-md-4"></div>
      <div class="col-md-4 center">
        <h4>OR</h4>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
  <form #newTeamForm="ngForm" (ngSubmit) = "newTeam()" *ngIf="!teamService.selectedTeam.owner">
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <input class="form-control" name="name" #name="ngModel" [(ngModel)]="usersNewTeam.name" placeholder="Add New Team" required/>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary" [disabled]="!usersNewTeam.name">
          <span class="fa fa-floppy-o"></span> Draft New Team</button>
      </div>
      <div class="col-md-3"></div>
    </div>
  </form>
  <div class="row" *ngIf="teamService.selectedTeam.owner">
    <div class="col-md-7">
      <app-player></app-player>
    </div>
    <div class="col-md-5 bottom">
      <app-player-list></app-player-list>
    </div>
  </div>
</div>














