<form #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="playerService.selectedPlayer.$key">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" name="name" #name="ngModel" [(ngModel)]="playerService.selectedPlayer.name" placeholder="Full Name" required/>
  </div>
  <div class="form-group">
    <label>Position</label>
    <input class="form-control" name="position" #name="ngModel" [(ngModel)]="playerService.selectedPlayer.position" placeholder="Position"/>
  </div>
  <div class="form-group">
    <label>Team</label>
    <input class="form-control" name="team" #name="ngModel" [(ngModel)]="playerService.selectedPlayer.team" placeholder="Team"/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!playerForm.valid">
      <span class="fa fa-floppy-o"></span> Draft Player</button>
    <!--<button *ngif="playerService.selectedPlayer.$key != ''"type="submit" class="btn btn-primary" [disabled]="!playerForm.valid">-->
      <!--<span class="fa fa-floppy-o"></span> Edit Player</button>-->
    <button type="button" class="btn btn-danger">
      <span class="fa fa-trash"></span> Delete Player</button>
    <button type="button" class="btn btn-info" (click) ="resetForm()">
      <span class="fa fa-repeat"></span> Reset Form</button>
  </div>
</form>
