<form #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm)">
  <div class="row">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="playerService.selectedPlayer.key">
    <div class="form-group col-md-4">
      <label>Name</label>
      <input class="form-control" name="name" #name="ngModel" [(ngModel)]="playerService.selectedPlayer.name" placeholder="Full Name" required/>
    </div>
    <div class="form-group col-md-4">
      <label>Position</label>
      <input class="form-control" name="position" #name="ngModel" [(ngModel)]="playerService.selectedPlayer.position" placeholder="Position"/>
    </div>
    <div class="form-group col-md-4">
      <label>Team</label>
      <input class="form-control" name="team" #name="ngModel" [(ngModel)]="playerService.selectedPlayer.team" placeholder="Team"/>
    </div>
  </div>
  <div class="form-group row" *ngIf="playerService.selectedPlayer.key == null">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <button *ngIf="playerService.selectedPlayer.key == null" type="submit" class="btn btn-primary" [disabled]="!playerForm.valid">
        <span class="fa fa-floppy-o"></span> Draft Player</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-info" (click) ="resetForm()">
        <span class="fa fa-repeat"></span> Reset Form</button>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="form-group row" *ngIf="playerService.selectedPlayer.key != null">
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary" [disabled]="!playerForm.valid">
        <span class="fa fa-floppy-o"></span> Edit Player</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger" (click) ="onDelete(playerForm)">
        <span class="fa fa-trash"></span> Delete Player</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-info" (click) ="resetForm()">
        <span class="fa fa-repeat"></span> Reset Form</button>
    </div>
  </div>
</form>
<div class="container">
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
    </tr>
    <tr class="table-striped" *ngFor="let player of playerList | async" (click)="onItemClick(player)">
      <td>{{player.name}}</td>
      <td>{{player.position}}</td>
      <td>{{player.team}}</td>
    </tr>
  </table>
</div>


